.rank {
    width: 320px;
    height: 650px;
    overflow: hidden;
}

.rank .title {
    padding: 0 10px;
    height: 21px;
}

.rank .cover,
.rank .cover img {
    height: 230px;
    border-radius: 8px;
    object-fit: cover;
}

.rank .current {
    display: flex;
    position: relative;
    padding: 0 10px 15px 10px;
}

.rank .current .title {
    font-size: 16px;
}

.rank .current .bom {
    position: absolute;
    display: flex;
    align-items: baseline;
    bottom: 12px;
}

.rank .current .bom .tag {
    font-size: 12px;
    padding: 0 10px;
    color: #bbb;
}

.rank .current .bom .idx {
    font-size: 60px;
    color: var(--primary);
    font-weight: bold;
    position: relative;
    bottom: -18px;
}

.rank li {
    display: flex;
    padding: 8px 10px;
    cursor: pointer;
    position: relative;
}

.rank li span {
    font-size: 16px;
    font-weight: bold;
    color: #bbb;

}

.rank li .active {
    color: var(--primary);
}

.rank .top {
    display: flex;
    align-items: baseline;
}

.rank .top ul {
    display: flex;
    padding: 0 10px;
}

.rank .top .active {
    color: var(--primary);
    background: rgba(148, 108, 230, 0.2);
    font-weight: bold;
}


.rank .top li {
    background: rgba(200,200,200,0.3);
    position: relative;
    margin: 3px;
    border-radius: 4px;
    padding: 4px 8px;
}