.danmaku {
    position: relative;
    margin-bottom: 80px;
}

.danmaku-item {
    box-sizing: border-box;
    padding: 5px 10px;
    display: flex;
    border-top: 1px solid #222;
}

.danmaku-block{
    flex: 1;
}

.danmaku-item .avatar{
    margin: 0;
    display: block;
    padding: 5px 10px;
}

.danmaku-item p{
    padding: 5px;
    color: #888;
}

.danmaku-item p:nth-child(3){
    color: #ddd;
}

.danmaku h1 {
    font-weight: normal;
    font-size: 12px!important;
    color: #ddd!important;
    padding: 10px;
}

.danmaku-item li {
    display: flex;
    align-items: center;
}

.danmaku-input {
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 99999;
    bottom: 0;
    width: 420px;
    background: #111;
    box-sizing: border-box;
}

.danmaku-input input {
    background: var(--primary-bg);
    color: #fff;
    height: 30px;
    border: 0px;
    border-radius: 30px;
    padding: 0 10px;
    flex: 1;
}

.danmaku-input button {
    background: var(--secondary);
    position: absolute;
    right: 20px;
    height: 30px;
    padding: 0 10px;
}

.rate ul {
    display: flex;
    justify-content: center;
}

.danmaku-item ul {
    display: flex;
}