.write {
    display: flex;
    justify-content: space-between;
}

.write div {
    display: flex;
    align-items: center;
}

.write-btn {
    padding: 8px 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.mask {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icon-back {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #111;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    font-size: 24px;
    cursor: pointer;
}

.center-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 10px;
    background: #f0f0f5;
    width: 800px;
    padding: 10px 20px;
    overflow: hidden;
}

.main {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    min-height: 50px;
}

.info {
    display: flex;
    align-items: baseline;
    background: var(--bg);
    padding: 4px 10px;
    border-radius: 8px;
    margin: 10px 0;
}

h2 {
    text-align: center;
}

.next, .page li {
    padding: 5px 15px;
    color: var(--primary);
    background: #ffece5;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}


.post h1 {
    padding: 10px 0 5px 0;

}

.write .info img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.info time {
    padding: 0 10px;
    color: #aaa;
}

.post p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 5px 10px;
    text-indent: 2em;

}

.page select{
    border: none;
    background: #dffffd;
    color: var(--secondary);
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 14px;
}

.page {
    /* display: flex; */
    justify-content: center;
    /* max-width: 300px; */
    margin: 10px auto;
    text-align: center;
}

.page li.active{
    background: var(--primary);
    color: white;
}

.info a{
    color: var(--secondary);
}