header {
    background: var(--bg);
}

header .logo {
    cursor: pointer;
    background: url(https://cdn-us.imgs.moe/2023/05/17/6464ee8220a64.png);
    width: 80px;
    height: 40px;
    background-size: cover;
    margin: 10px 20px;

}

header h1 {
    color: var(--primary);
}

header nav {
    color: var(--color);
}

header nav li {
    padding: 12px;
    position: relative;
    cursor: pointer;
}

header nav li.active{
    color: var(--primary);
}

header nav li.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    height: 6px;
    width: 6px;
    border-bottom: 4px solid var(--primary);
    border-left: 4px solid var(--primary);
    transform-origin: 50% 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bio {
    align-items: center;
    display: flex;
}

footer {
    text-align: center;
    color: #bbb;
    overflow: hidden;
}

footer a {
    display: block;
    padding: 10px;
}

footer h1 {
    color: var(--primary);
}

footer ul {
    /* display: flex; */
    padding-bottom: 30px;
}

footer ul li {
    text-align: center;
    padding: 15px 30px;
    background: rgba(148, 108, 230, 0.2);
    display: inline-block;
    margin: 20px auto;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--primary);
    cursor: pointer;
}

footer img {
    width: 100px;
}

footer p {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


.friends a {
    display: inline-block
}