header {
    background: var(--bg);
    padding: 0;
}

header ul{
    display: flex;

}

header ul li{
    padding:15px 10px;
}

header ul li.active{
    font-weight: bold;
    background: url(https://www.ciweimao.com/resources/image/icon-cat-claw.png) no-repeat center bottom !important;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header .search{
    display: flex;
}

.search input{
    width: 200px;
    border: 0;
    padding: 8px 10px;
    border: 1px solid var(--primary);
}

.icon-search1{
    font-size: 18px;
}

.search button{
    padding: 8px 15px;
}

header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bio {
    align-items: center;
    display: flex;
}



footer {
    text-align: center;
    color: #bbb;
    overflow: hidden;
}

footer a {
    display: block;
    padding: 10px;
}

footer h1 {
    color: var(--primary);
}

footer ul {
    /* display: flex; */
    padding-bottom: 30px;
}

footer ul li {
    text-align: center;
    padding: 15px 30px;
    background: rgba(148, 108, 230, 0.2);
    display: inline-block;
    margin: 20px auto;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--primary);
    cursor: pointer;
}

footer img {
    width: 100px;
}

footer p {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


.friends a {
    display: inline-block
}