.login {
    text-align: center;
    overflow: hidden;
    max-width: 370px;
    margin: 0 auto;
    border-radius: 10px;
}

.login li {
    padding: 10px;
    margin: 5px;
}

.login li input {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.login li button {
    background: var(--primary);
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.login li h1 {
    color: #fff;
    padding: 10px 0;
}

.login .header {
    background: var(--primary);
    padding: 10px 0;
    border-bottom: 5px solid var(--secondary);
}

button:disabled {
    opacity: .7;
    cursor: wait !important;
}

.login select {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    width: 330px;
    box-sizing: border-box;
    margin: 10px 0;
}

.login p {
    background: #555;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    color: var(--secondary);
}

button[type=error]{
    background: #fc4761!important;
}