* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    list-style: none;
    color: var(--color);
    background: #f0f0f5;
    background-size: 32px 32px;
    --primary: #8a61ff;
    --secondary: #9fdc0b;
    --secondary-bg:rgba(108, 230, 123, 0.3);
    --bg: #f2f2f2;
    --black: rgb(37, 37, 37);
    --white: #fff;
    --border: 0 1px 2px #ddd;
    --color: #555;
    --background: #fafafa;
    --primary-bg: rgba(148, 108, 230, .1);
    --shadow: 2px 2px 0px rgba(5, 20, 50, 0.1)
}

button {
    background: var(--primary);
    color: #fff;
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    color: var(--color);
    text-decoration: none
}

a:hover {
    color: var(--primary);
}

h3 {
    padding: 20px;
}

li {
    list-style: none;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    padding: 20px 10px;

}

.container{
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#f0f0f5 140px),fixed 0 0 /20px 20px radial-gradient(#d0d0d0 1px,transparent 0),fixed 10px 10px /20px 20px radial-gradient(#d0d0d0 1px,transparent 0);
}

@media screen and (max-width: 500px) {
    header {
        width: 100%;
    }

    header .logo{
        display: none;
    }

    .section {
        display: block !important;
        width: 100% !important;
    }

    .recommend {
        width: 100% !important;
    }

    .recommend li,
    .post-list li {
        width: 33.3% !important;
        margin: 0 !important;
    }

    .ugc-list .posts li{
        width: 33.3%!important;
        height: 40px!important;
    }

    .recommend .cover,
    .recommend .cover img,
    .post-list .cover,
    .post-list .cover img {
        width: 130px !important;
        height: 170px !important;
    }

    .recommend .title,
    .post-list .title {
        width: 120px !important;
    }

    .rank {
        width: 100% !important;
    }

    .ad {
        display: none;
    }

    .headline h1 {
        display: none;
    }

    .headline ul {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .week-list .headline button {
        margin: 0 !important;
        flex: 1;
    }

    .week-list .posts li .post {
        padding: 5px !important;
    }

    .week-list .posts {
        height: 300px !important;
        margin: 0 !important;
    }

    .postplayer {
        position: fixed;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        transform: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    header .search input {
        flex: 1 !important;
        width: auto !important;
    }

    .player.wrap {
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block !important;
        overflow: auto !important;
        background: #111 !important;
        border-radius: 0px !important;
    }

    .comment-input {
        width: 100% !important;
    }

    .ep-wrap {
        width: 100% !important;
        height: calc(var(--width) / 16 * 9) !important;
        padding: 5px;
        box-sizing: border-box;

    }

    .ep {
        border-radius: 5px!important;
        overflow: hidden!important;
    }

    .p {
        width: 100% !important;
    }

    .upload{
        padding: 10px!important;
    }
}