* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    list-style: none;
    color: var(--color);
    background: #F8F6F4;
    --primary: #ffa500;
    --border: #a1dbf3;
    --light: #bae3ff;
    --secondary: #00b8ac;
    --secondary-bg: rgba(108, 230, 123, 0.3);
    --bg: #F8F6F4;
    --black: rgb(37, 37, 37);
    --white: #fff;
    --border: 0 1px 2px #ddd;
    --color: rgb(55, 65, 81);
    --background: #fafafa;
    --primary-bg: rgba(230, 108, 167, 0.1);
    --shadow: 2px 2px 0px rgba(5, 20, 50, 0.1)
}

button {
    background: var(--primary);
    color: #fff;
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--primary);
    transition: 1s;
}

h3 {
    padding: 15px 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    padding: 20px 10px;

}

button[loading] {
    position: relative;
    background: transparent;
    color: #fff;
    margin: 10px;
}

button[loading]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 50%;
    border-top: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
    /* border-right: 3px solid transparent; */
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {

    .wrap,
    .top .wrap {
        width: 100% !important;
    }

    .reply-input{
        width: 100%!important;
    }

    .write {
        display: block !important;
        margin: 10px 0;
    }

    .write div {
        justify-content: center;
    }

    header nav ul {
        width: 168px;
        overflow-y: auto;
        flex-wrap: nowrap;
    }

    header nav ul li{
        min-width: 56px;
        position: relative;
        text-align: center;
        padding: 10px 0;
    }

    header .logo{
        width: 60px!important;
        height: 30px!important;
    }
}