* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    list-style: none;
    color: var(--color);
    background: #f0f0f5;
    
    
    --primary: #FD4C86;
    --secondary: #03a9f4;
    --secondary-bg: rgba(108, 230, 123, 0.3);
    --bg: #f0f0f5;
    --black: rgb(37, 37, 37);
    --white: #fff;
    --border: 0 1px 2px #ddd;
    --color: rgb(55,65,81);
    --background: #fafafa;
    --primary-bg: rgba(230, 108, 167, 0.1);
    --shadow: 2px 2px 0px rgba(5, 20, 50, 0.1)
}

button {
    background: var(--primary);
    color: #fff;
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    color: var(--color);
    text-decoration: none
}

a:hover {
    color: var(--primary);
}

h3 {
    padding: 20px;
}

li {
    list-style: none;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    padding: 20px 10px;

}

.container {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #f0f0f5 140px), fixed 0 0 /20px 20px radial-gradient(#d0d0d0 1px, transparent 0), fixed 10px 10px /20px 20px radial-gradient(#d0d0d0 1px, transparent 0);
}