main {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 0;
}


section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section .suo {
    width: 500px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

section h1 {
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
}

section .info {
    display: flex;
    align-items: center;
}

section .info p {
    padding: 0 0 0 10px !important;
    cursor: pointer;
}

section p {
    color: var(--primary);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.mask {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.usercenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 10px;
    background: #f0f0f5;
    width: 370px;
    overflow: hidden;
}

.postplayer {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 10px;

}

.more {
    margin: 20px;
}

.icon-back {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #111;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    font-size: 24px;
    cursor: pointer;
}

.recommend {
    width: 950px;
}

.recommend li {
    width: 20%;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 10px;
}

.recommend .title {
    height: 40px;
    overflow: hidden;
    margin: 10px 0;
}

.recommend .cover,
.recommend .cover img {
    width: 100%;
    height: 230px;
    border-radius: 8px;
    object-fit: cover;
}


.post-list {
    margin-bottom: 30px !important;
}

.post-list li {
    width: 16.6%;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.post-list .title {
    height: 40px;
    overflow: hidden;
    margin: 10px 0;
}

.post-list .cover,
.post-list .cover img {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    object-fit: cover;
}

.post-list li:nth-child(6n) {
    margin-right: 0;
}

.recommend .top {
    display: flex;
    align-items: baseline;
}

.recommend .top ul {
    display: flex;
    padding: 0 10px;
    overflow-y: scroll;
}

.recommend .top .active {
    color: var(--primary);
    background: rgba(148, 108, 230, 0.2);
    font-weight: bold;
}


.recommend .top li {
    background: rgba(200, 200, 200, 0.3);
    position: relative;
    margin: 3px;
    border-radius: 4px;
    padding: 4px 8px;
    width: auto !important;
}

.card-wrap {
    flex: 0 0 50%;
    width: 50%;
    box-sizing: border-box;
}

.post-card{
        margin: 10px;
    background: #fff;
    border-radius: 8px;
}

.post-card h2{
    font-size: 16px;
    border-bottom: 2px solid #eee;
    padding: 10px 15px;
    font-weight: normal;
    color: #666;
}

.post-card ul {
    overflow-y: auto;
    display: flex;
    flex-wrap: nowrap !important;

}

.post-card ul li {
    flex: 0 0 150px;
}

.post-list ul {
    display: flex;
    flex-wrap: wrap;
}

.post-card h2{
    display: flex;
    justify-content: space-between;
}

.post-card span{
    height: 20px;
    width: 20px;
    background: var(--primary-bg);
    color: var(--primary);
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    display: block;
    font-weight: bold;
}