.table thead{
    background: #bbb;
    width: 1100px;
}

.table table{
    width: 100%;
    border: 0;
    table-layout: fixed;
}
.table thead th{
    /* flex: 1; */
    padding: 10px;
}

.write{
    display: flex;
    justify-content: space-between;
}

.write-btn{
    margin: 20px 0;
    padding: 10px 30px;
}