

.write {
    display: flex;
    justify-content: space-between;
}

.write-btn {
    padding: 8px 30px;
    display: flex;
    align-items: center;
}

.mask {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icon-back {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #111;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    font-size: 24px;
    cursor: pointer;
}

.center-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 10px;
    background: #f0f0f5;
    width: 800px;
    padding: 10px 20px;
    overflow: hidden;
}

.main {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.terms {
    padding: 10px 0;
}

.terms ul {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.terms ul:first-child {
    background: var(--bg);
    border-radius: 5px;

}

.terms ul li {
    flex: 1;
}


.terms ul li:nth-child(2) {
    flex: 2;
}