.week-list .headline {
  display: flex;
  align-items: baseline;
}

.headline button {
  border: 0;
  font-size: 16px;
  color: #333;
  background: rgba(200,200,200,0.3);
  position: relative;
  margin: 4px;
  border-radius: 4px;
  padding: 4px 8px;
}

.headline ul .active,
.headline button .active {
  color: var(--primary);
  font-weight: bold;
  position: relative;
  background: rgba(148, 108, 230, 0.2);
}


.week-list .posts {
  height: 350px;
  overflow: auto;
  flex: 1;
}

.ugc-list .posts {
  height: auto!important;
  overflow: auto;
  flex: 1;
}

.week-list .posts li {
  display: inline-block;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.ugc-list .posts li {
  width: 16.6%;
  height: 120px;
}

.week-list .posts li .post {
  padding: 10px;
}

.week-list .posts li .cover,
.week-list .posts li img {
  height: 110px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.ugc-list .posts li .cover,
.ugc-list .posts li img {
  height: 130px;
  border-radius: 8px;
}

.week-list .posts li .title {
  height: 28px;
  overflow: hidden;
  padding: 10px 0;
}

.weekcontent {
  display: flex;
}

.weekcontent a {
  display: block;
  height: 320px;
  padding: 10px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
  margin-left: 10px;
}

.weekcontent a img {
  width: 280px;
  height: 280px;
}

.weekcontent a span {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-radius: 0 5px 0 5px;
  background: #ddd;
  color: #bbb;
}

.weekcontent a div {
  display: flex;
  padding: 10px;
  align-items: center;
}

.weekcontent a button {
  color: var(--primary);
  background: #eee;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
}
.weekcontent a p{
  flex: 1;
}

.ugc-list .headline ul{
  flex: 1;
  flex-wrap: wrap;
  overflow-x: scroll;
  display: flex;
}

.ugc-list .posts li .post{
  padding: 7px;
}