.avatar {
    margin:0 10px;
    display: flex;
    align-items: center;
    position: relative;
}


.avatar img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    /* margin-right: 20px; */
}