@import url("//at.alicdn.com/t/font_1151392_5hwi3w2ygqu.css");

.flex {
    display: flex!important;
}

.upload {
    flex: 3;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px 0;
}

.upload.wrap{
    width: 800px;
}

.draft {
    background: #e2e2e2;
    border-radius: 10px;
    margin: 20px;
    flex: 1;
    height: 635px;
    overflow-y: scroll;
}

.draft ul{
    padding: 10px;
}

.draft li{
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.draft li.active{
    color: var(--primary);
}

.draft p{
    padding: 10px;
    color: #bbb;
}

.wrap {
    width:1100px;
    margin: 0 auto;
}

.upload h1 {
    color: var(--primary);
}

.upload textarea {
    width: 100%;
    min-height: 200px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 10px 15px;
    resize: vertical;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
}


.upload section {
    padding: 10px;
    background: #fff;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 10px 10px 0 0;
}

.te {
    cursor: pointer;
    margin: 7px;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
}

.te:hover {
    background: #f2f2f2;
}

.upload .title input {
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    /* background: #f2f2f2; */
}

.upload .title {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}


.tags li {
    display: inline-block;
    list-style: none;
    padding: 2px 10px;
    background: var(--primary-bg);
    color: var(--primary);
    border-radius: 2px;
    margin: 5px;
}

.tags li.active {
    color: #fff;
    background: var(--primary);
}

.tags li.active1 {
    color: #fff;
    background: var(--secondary);
}

.options {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options a{
    color: var(--secondary);
}

.submit {
    text-align: right;
}

.submit button {
    background: var(--primary);
    color: #fff;
    margin: 0 auto;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    width: 100px;
    cursor: pointer;
}

.options select {
    padding: 5px 17px;
    border: 0;
    color: #666;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
}

.options input {
    border: none;
    outline: none;
    background: #ddd;
    padding: 2px 5px;
    width: 200px;
    border-radius: 5px;
    margin-left: 20px;
}

.options div{
    display: flex;
}

.upload-video {
    padding: 10px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-video {
    font-size: 10px;
    padding-right: 10px;
}

.video-pre {
    padding: 10px;
    color: var(--primary);
}

.video-vid {
    padding: 5px 10px;
    border: none;
}