.player.wrap {
    display: flex;
    background: transparent;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
}

.ep-wrap {
    width: 1200px;
    height: calc(var(--width) / 16 * 9);
    overflow: hidden;
    position: relative;
    border-radius: 5px 0 0 5px;
}


.p {
    box-sizing: border-box;
    width: 420px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.p h1 {
    padding: 0 10px;
    font-size: 20px !important;
}

.p h1 span {
    font-size: 14px;
}

.p ul li {
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
}

.p ul .active {
    color: var(--primary);
}




.p .info {
    padding: 0;
    margin: 0;
}

.tabs{
    display: flex;
}

.tabs li{
    padding: 0 10px;
    margin: 5px;
    line-height: 30px!important;
}

.tabs .avatar img{
    padding: 5px;
    cursor: pointer;
}

.tabs .active img{
    border: 1px dashed var(--primary);
    padding: 4px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.tab li {
    background: rgba(108, 230, 123, 0.1) !important;
    color: var(--secondary) !important;
    padding: 0 20px !important;
    line-height: 25px !important;
}

.tab li:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

.tab li:nth-child(2) {
    border-radius: 0;
}

.tab li:nth-child(3) {
    border-radius: 0 10px 10px 0;
}

.tab li.active {
    background: rgba(108, 230, 123, 0.3) !important;
    font-weight: bold;
    /* background-color: rgba(148, 108, 230, 0.3) !important; */

}

#mycanvas {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden
}

.canvas-wrap {
    width: 1000px;
    margin: 0 auto;
}


.avatar-wrap {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 0;
}

.avatar-wrap li {
    cursor: pointer;
    font-size: 16px;
    color: var(--primary);
    padding-right: 10px;
}



.info a {
    display: block;
    font-size: 20px;
    padding: 20px;
}

.info h1 {
    font-size: 28px;
}

.info p {
    padding: 10px;
    font-weight: bold;
    color: #666;
}

.info .tag {
    display: inline-block;
    padding: 10px 5px;
}

.info .tags li {
    cursor: pointer;
}

.p::-webkit-scrollbar,
.posts::-webkit-scrollbar,.top ul::-webkit-scrollbar {

    display: none;
    /* Chrome Safari */

}

.post-card ul::-webkit-scrollbar{
    height: 6px;
    background: transparent;
    position: fixed;
    top: 0;
}

.post-card ul::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--secondary);
}

.poster {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://p5.music.126.net/obj/wo3DlcOGw6DClTvDisK1/4602256867/5855/63fb/325b/d7e4e3a244701ee85fecb5d4f6b5bd57.png?imageView=&quality=75&thumbnail=200y200);

}

.poster img {
    width: 150px;
    height: 150px;
    padding: 25px;
    object-fit: fill;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


canvas {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.ei-wrap, .ei-wrap img{
    height: 800px;
}